* {
  margin: 0px;
}

body {
  background-color: aliceblue;
}

#div1 {
  margin: 300px;
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
}

button {
  font-size: 3rem;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
}

#p1 {
  font-size: 3rem;
  background-color: #00bb00;
  padding: 2px 12px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 4px;
  color: #fff;
  width: 100px;
  text-align: center;
}

h1,
p,
#div2 {
  margin-bottom: 20px;
}
